html {
  width: 100%;
}

body {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}

.error {
  border:2px solid red;
}

input {
  text-align: right;
  width: 100px
}

.ct {
  text-align: center;
}
