html {
  width: 100%;
}

body {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
}

.error {
  border:2px solid red;
}

input {
  text-align: right;
  width: 100px
}

.ct {
  text-align: center;
}

.border {
  border-style: solid;
  border-color: black;
  border-width: thin;
}

#result3N {
  font-size: 1.3em;
  font-weight: bold;
}

#result3L {
  font-size: 1.3em;
  font-weight: bold;
}
#result3H {
  font-size: 1.3em;
  font-weight: bold;
}
#result5N {
  font-size: 1.3em;
  font-weight: bold;
}
#result5L {
  font-size: 1.3em;
  font-weight: bold;
}
#result5H {
  font-size: 1.3em;
  font-weight: bold;
}
#result7N {
  font-size: 1.3em;
  font-weight: bold;
}
#result7L {
  font-size: 1.3em;
  font-weight: bold;
}
#result7H {
  font-size: 1.3em;
  font-weight: bold;
}

select {
  height: 38px;
}
